<template>
  <div>
    <div class="left-panel">
      <public-room 
        @select="onSelectPublic()"
        :selected="publicData.selected"
        :newMessage="publicData.newMessage"
        :onlineCount="onlineCount"
      />

      <user
        v-for="(user, index) in users"
        :key="user.userID"
        :user="user"
        :selected="selectedUser === user"
        :whoami="whoami"
        @select="onSelectUser(user)"
        @remove="onRemoveUser(user.userID, index)"
      />
    </div>

    <div class="right-panel">
      <message-panel
        v-if="selectedUser || publicData.selected"
        :data="selectedUser ? selectedUser : publicData"
        :unread="selectedUser ? privateUnread : publicUnread"
        @input="onMessage"
      />
    </div>

    <div class="alert-panel"></div>
  </div>
</template>

<script>
import socket from "../socket";
import User from "./User";
import MessagePanel from "./MessagePanel";
import PublicRoom from "./PublicRoom";

export default {
  name: "Chat",
  components: { User, MessagePanel, PublicRoom },
  data() {
    return {
      onlineCount: 0,
      divCount: 0,
      whoami: null,
      selectedUser: null,
      users: [],
      publicData: {
        selected: false,
        newMessage: false,
        connected: false,
        messages: [],
      },
      publicUnread: [],
      privateUnread: [],
    };
  },
  methods: {
    // 메세지 전송
    onMessage(content) {
      if (this.selectedUser) {
        // 1:1 메세지 전송
        socket.emit("private message", {
          content,
          to: this.selectedUser.userID,
        });
        this.selectedUser.messages.push({
          content,
          fromSelf: true,
        });
      } else if (this.publicData.selected) {
        // Public Room 메세지 전송
        socket.emit("public message", {
          content,
          to: "all user",
          username: this.whoami
        });
        this.publicData.messages.push({
          content,
          fromSelf: true
        });
      }
    },
    // 유저 선택
    onSelectUser(user) {
      this.selectedUser         = user;   // 선택한 유저
      user.hasNewMessages       = false;  // 새 메세지 여부
      this.publicData.selected  = false;  // Public Room 선택 여부
      this.privateUnread        = [];     // 1:1 대화 읽음 여부

      socket.emit("check newPrivate", user.userID); // 1:1 대화 읽음 여부 기록사항 업데이트
      socket.emit("watching session", user.userID); // 현재 보고있는 유저ID(메시지 LIST 세션값) 기록
    },
    // 유저 삭제
    onRemoveUser(userID, index) {
      socket.emit("remove user", userID, index);
    },
    // Public Room 선택
    onSelectPublic() {
      this.selectedUser           = null;   // 유저 선택 초기화
      this.publicData.newMessage  = false;  // Public Room 새 메세지 표시 제거
      this.publicData.selected    = true;   // Public Room 선택 여부
      this.publicData.connected   = true;   // 접속 여부 (기본값으로 true)

      socket.emit("check newPublic", socket.userID);  // Public Room 읽음 표시 및 읽지 않은 유저 데이터 업데이트
      socket.emit("watching session", 'all user');    // 현재 보고있는 메시지 LIST 세션값 기록
    },
    // 로그인 알람
    loginAlert(username) {
      let div       = document.createElement('div');
      div.classList = 'ui compact floating info message alert alert-' + this.divCount;
      div.style     = 'display:none;margin: 5px 0;min-width:200px;';

      let p         = document.createElement('p');
      p.innerHTML   = `Logged in '${username}'`;

      div.appendChild(p);
      document
        .querySelector('.alert-panel')
        .appendChild(div)
      ;

      window.$(`.alert-${this.divCount}`)
        .transition({
          animation : 'slide down',
          duration  : '500ms',
          onComplete: function() {
            window.$(this)
              .transition({
                animation : 'slide down',
                duration  : '500ms',
                interval  : 2000,
                onComplete: function() {
                  window.$(this).remove();
                }
              })
              .transition('clear queue')
            ;
          }
        })
      ;
      this.divCount++;
    }
  },
  created() {
    socket.on("connect", () => {
      this.users.forEach((user) => {
        if (user.self) {
          // 유저 접속 여부 업데이트
          user.connected = true;
        }
      });
    });

    socket.on("disconnect", () => {
      this.users.forEach((user) => {
        if (user.self) {
          // 유저 접속 여부 업데이트
          user.connected = false;
        }
      });
    });

    const initReactiveProperties = (user) => {
      // 새 메세지 표시 제거
      user.hasNewMessages = false;
      // 현재 접속한 유저 정보 저장
      if (user.self) this.whoami = user.username;
    };

    socket.on("users", (users) => {
      users.forEach((user) => {
        user.messages.forEach((message) => {
          // 접속한 유저가 보낸 메세지인지 기록
          message.fromSelf = message.from === socket.userID;
        });

        for (let i = 0; i < this.users.length; i++) {
          const existingUser = this.users[i];
          if (existingUser.userID === user.userID) {
            existingUser.connected = user.connected;
            existingUser.messages = user.messages;
            return;
          }
        }

        // 접속한 유저 기록
        user.self = user.userID === socket.userID;
        initReactiveProperties(user);
        this.users.push(user);
      });

      // 현재 유저 최상단, 다른 유저는 이름으로 정렬
      this.users.sort((a, b) => {
        if (a.self) return -1;
        if (b.self) return 1;
        if (a.username < b.username) return -1;
        return a.username > b.username ? 1 : 0;
      });

      // 로그아웃 되어있는 동안 온 메세지 확인
      for (let i = 0; i < this.users.length; i++) {
        if (this.users[i].self) {
          // 새 메세지가 있는 경우, 해당 여부 표시
          if (this.users[i].newPublic !== "false") {
            this.publicData.newMessage = true;
          }

          for (let j = 0; j < this.users.length; j++) {
            let newPrivate = JSON.parse(this.users[i].newPrivate); 

            // 여러 유저에게 메세지 온 개수 만큼, 해당 여부 표시
            for (let k = 0; k < newPrivate.length; k++) {
              if (newPrivate[k].userID === this.users[j].userID) {
                this.users[j].hasNewMessages = true;
              }
            }
          }
        }
      }
    });

    socket.on("online count", (users) => {
      let onlineCount = 0;
      // 접속한 유저수 계산
      users.forEach((user) => {
        if (user.connected) {
          onlineCount++;
        }
      });

      this.onlineCount = onlineCount;
    });

    // 로그인한 현재 유저 정보
    socket.on("user connected", (user) => {
      // 우측 하단 유저 로그인 얼럿 표시
      this.loginAlert(user.username);

      for (let i = 0; i < this.users.length; i++) {
        const existingUser = this.users[i];
        if (existingUser.userID === user.userID) {
          existingUser.connected = true;
          return;
        }
      }

      initReactiveProperties(user);
      this.users.push(user); 
    });

    // 현재 유저 로그아웃, 다른 유저들이 받는 이벤트
    socket.on("user disconnected", (id) => {
      this.onlineCount--;
      
      for (let i = 0; i < this.users.length; i++) {
        const user = this.users[i];
        if (user.userID === id) {
          user.connected = false; // 연결상태 수정
          break;
        }
      }
    });

    // 보낸 유저 및 받는 유저에게만 발생하는 이벤트
    socket.on("private message", ({ content, from, to }) => {
      for (let i = 0; i < this.users.length; i++) {
        const user = this.users[i];

        // 보낸 유저 기록
        const fromSelf = socket.userID === from;
        if (user.userID === (fromSelf ? to : from)) {
          user.messages.push({
            content,
            fromSelf,
          });

          if (user !== this.selectedUser) {
            // 새 메시지 표시
            user.hasNewMessages = true;
          }
          break;
        }
      }
    });

    socket.on("check newPrivate", newPrivate => {
      // 최신 메세지 읽기위해 스크롤 하단으로 이동
      window.scrollTo(0,document.body.scrollHeight);

      // 1:1 새 메세지 표시
      for (let i = 0; i < newPrivate.length; i++) {
        if (newPrivate[i].userID === socket.userID) {
          this.privateUnread = [newPrivate[i].lastIndex];
          return;
        }
      }

      // 표시할 새 메세지 없으면 전체 읽음으로 적용
      this.privateUnread = [];
    });

    socket.on("all public messages", (messages) => {
      for (var i = 0; i < messages.length; i++) {
        // 현재 접속 유저의 메세지인지 기록
        if (messages[i].username === this.whoami) {
          messages[i].fromSelf = true;
        } else {
          messages[i].fromSelf = false;
        }
      }

      // Public Room 모든 메세지 저장
      this.publicData.messages = messages;
    });

    // 다른 유저가 보낸 메세지 표시
    socket.on("public message", ({ content, from, username }) => {
      const fromSelf = socket.userID === from;
      this.publicData.messages.push({
        content,
        username,
        fromSelf
      });
    });

    socket.on("check newPublic", (publicUnread, newMessage) => {
      // 최신 메세지 읽기위해 스크롤 하단으로 이동
      window.scrollTo(0,document.body.scrollHeight);

      // Public Room 안 읽은 메세지 값
      this.publicUnread = publicUnread;

      // Public Room에서 읽지 않은 유저가 있는 지 확인
      if (newMessage) {
        // 읽지 않은 유저에게 새 메세지 여부 표시
        newMessage.forEach((value) => {
          if (value.newMessage && value.userID === socket.userID) {
            this.publicData.newMessage = true;
          }
        });
      }
    });

    socket.on("user removed", index => {
      // 유저 강퇴 후 배열값 업데이트
      this.users.splice(index, 1);
      this.selectedUser = false;
    });
  },
  destroyed() {
    socket.off("connect");
    socket.off("disconnect");
    socket.off("users");
    socket.off("user connected");
    socket.off("user disconnected");
    socket.off("private message");
    socket.off("all public messages");
    socket.off("public message");
    socket.off("check newPublic");
    socket.off("user removed");
  },
};
</script>

<style scoped>
.left-panel {
  position: fixed;
  z-index:9;
  left: 0;
  top: 0;
  bottom: 0;
  width: 260px;
  overflow-x: hidden;
  background-color: #0e1240;
  color: white;
  transition: width .3s;
}

.right-panel {
  padding-top: 61px;
  margin-left: 260px;
  transition: margin .3s;
}

.alert-panel {
  display:flex;
  flex-flow: column;
  position: fixed;
  bottom: 120px;
  right: 25px;
}

.left-pannel-toggle {
  width: 0;
}

.right-pannel-toggle {
  margin-left: 0;
}

@media (max-width: 768px) {
  .left-panel {
    width: 0;
  }

  .right-panel {
    margin-left: 0;
  }

  .left-pannel-toggle {
    width: 30%;
  }

  .right-pannel-toggle {
    margin-left: 30%;
  }
}

@media (max-width: 400px) {
  .left-pannel-toggle {
    width: 120px;
  }

  .right-pannel-toggle {
    margin-left: 120px;
  }
}
</style>
