<template>
  <div>
    <div class="selected-user">
      <status-icon :connected="data.connected" />{{ data.username ? data.username : 'Public Room' }}

      <button 
        class="ui icon menu button"
        @click="toggleMenu"
      >
        <i class="bars icon" style="margin:0;"></i>
        </button>
    </div>

    <div class="ui list messages">
      <div
        v-for="(message, index) in data.messages"
        :key="index"
        class="item"
      >
        <div class="message-box">
          <label class="unread-count">
            {{ unreadMessageCount[index] }}
          </label>

          <div class="ui label">
            <i class="user icon"></i>
            {{ message.fromSelf ? "Me" : (data.username ? data.username : message.username) }}
          </div>
          {{ message.content }}
        </div>
      </div>
    </div>

    <form @submit.prevent="onSubmit" class="ui form">
      <div class="field">
        <label>Message</label>
        <textarea v-model="input" placeholder="Your message..." rows="2" />
      </div>
      <button :disabled="!isValid" class="ui button">Send</button>
    </form>
  </div>
</template>

<script>
import StatusIcon from "./StatusIcon";

export default {
  name: "MessagePanel",
  components: {
    StatusIcon,
  },
  props: {
    data: Object,
    unread: Array,
  },
  data() {
    return {
      input: "",
      count: 0
    };
  },
  methods: {
    onSubmit() {
      this.$emit("input", this.input);
      this.input = "";
    },
    toggleMenu() {
      window.$('.left-panel').toggleClass('left-pannel-toggle');
      window.$('.right-panel').toggleClass('right-pannel-toggle');
    }
  },
  mounted() {
    // 가장 최근 메세지가 보이도록 스크롤 이동
    window.scrollTo(0,document.body.scrollHeight);
  },
  computed: {
    isValid() {
      return this.input.length > 0;
    },
    unreadMessageCount() {
      let tempData = [];
      this.unread.forEach((unreadIndex) => {
        if (isNaN(tempData[unreadIndex])) {
          tempData[unreadIndex] = 0;
        }

        this.data.messages.forEach((value, index) => {
          if (unreadIndex <= index) {
            if (isNaN(tempData[index])) {
              tempData[index] = 0;
            }

            tempData[index]++;
          }
        });
      });

      return tempData;
    },
  },
};
</script>

<style scoped>
.selected-user {
  line-height: 40px;
  padding: 10px 20px;
  border-bottom: 1px solid #dddddd;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: white;
}

.messages {
  margin: 0;
  padding: 20px;

  /* margin-top: 61px; */
  padding-bottom: 120px;
}

.message-box {
  position: relative;
}

.unread-count {
  position: absolute;
  left: -10px;
  top: calc(12px - 50%);
  font-size: 12px;
}

.form {
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: calc(100% - 260px);
  z-index: 1;
  background: white;
  transition: width .3s;
}

.right-pannel-toggle .form {
  width: 100%;
}

.menu.button {
  position: fixed;
  top: 17px;
  right:10px;
  margin:0;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
  }
  
  .right-pannel-toggle .form {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .right-pannel-toggle .form {
    width: calc(100% - 120px);
  }
}
</style>
