<template>
  <div class="public-room" @click="onClick" :class="{ selected: selected }">
    <div class="description">
      <div class="name">
        Public Room
        <div v-if="newMessage && !selected" class="new-messages">!</div>
      </div>
      <div class="status"> 
        <status-icon class="connected" /> total online {{ onlineCount }}
      </div>
    </div>
  </div>
</template>

<script>
import StatusIcon from "./StatusIcon";

export default {
  name: "PublicRoom",
  components: { StatusIcon },
  props: {
    selected: Boolean,
    newMessage: Boolean,
    onlineCount: Number
  },
  methods: {
    onClick() {
      this.$emit("select");
    }
  }
};
</script>

<style scoped>
.selected {
  background-color: #1164a3;
}

.public-room {
  padding: 10px;
  height: calc(38px + 20px);
  white-space: nowrap;
}

.description {
  display: inline-block;
  width:100%;
}

.name {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
}

.status {
  color: #92959e;
}

.new-messages {
  color: white;
  background-color: red;
  width: 20px;
  border-radius: 5px;
  text-align: center;
}
</style>
