<template>
  <div class="select-username">
    <form @submit.prevent="onSubmit" class="ui form">
      <div class="field">
        <label>username</label>
        <input 
          v-model="username" 
          @keydown.space.prevent 
          @paste="removeEventSpaces" 
          @drop="removeEventSpaces"
          autocomplete="off"
          autofocus
        />
      </div>

      <div class="field">
        <label>password</label>
        <input 
          v-model="password" 
          @keydown.space.prevent 
          @paste="removeEventSpaces" 
          @drop="removeEventSpaces"
          type="password"
          autocomplete="off"
        />
      </div>
      <button 
        :disabled="!isValid" 
        class="ui button"
        data-tooltip="Master is head of all room" 
        data-position="top left" 
        data-inverted=""
      >Send</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "SelectUsername",
  data() {
    return {
      username: "",
      password: ""
    };
  },
  computed: {
    isValid() {
      return this.username.length > 2 && this.password.length > 2;
    },
  },
  methods: {
    onSubmit() {
      this.$emit("input", this.username, this.password);
    },
    removeEventSpaces(e) {
      e.preventDefault();
      
      // 입력 값에서 스페이스바 제거
      let left        = e.target.value.substring(0, e.target.selectionStart);
      let right       = e.target.value.substring(e.target.selectionEnd, e.target.value.length);
      let pasted      = (e.dataTransfer || e.clipboardData).getData('text').replace(/ /g, '');
      e.target.value  = left + pasted + right;
    }
  },
};
</script>

<style scoped>
.select-username {
  position: fixed;
  top: calc(50% - 77px);
  left: calc(50% - 150px);
  width: 300px;
}
</style>