<template>
  <div class="user" @click="onClick" :class="{ selected: selected }">
    <div class="description">
      <div class="name">
        {{ user.username }} {{ user.self ? " (Me)" : "" }} 

        <!-- 삭제 버튼 -->
        <button 
          v-if="!user.self && whoami === 'Master'" 
          @click.stop="removeUser(user.username)" 
          class="circular ui button tiny secondary icon">
          <i class="close icon"></i>
        </button>

        <div 
          v-if="user.hasNewMessages" 
          class="new-messages">
          !
        </div>
      </div>
      <div class="status">
        <status-icon :connected="user.connected" />{{ status }}
      </div>
    </div>
  </div>
</template>

<script>
import StatusIcon from "./StatusIcon";
export default {
  name: "User",
  components: { StatusIcon },
  props: {
    whoami: String,
    user: Object,
    selected: Boolean
  },
  methods: {
    onClick() {
      this.$emit("select");
    },
    removeUser(username) {
      if (confirm(`${username} 사용자를 삭제하시겠습니까?`)) {
        this.$emit("remove");
      }
    }
  },
  mounted() {
    if (this.user.self) {
      this.onClick();
    }
  },
  computed: {
    status() {
      return this.user.connected ? "online" : "offline";
    },
  },
};
</script>

<style scoped>
.selected {
  background-color: #1164a3;
}

.user {
  padding: 10px;
  white-space: nowrap;
}

.description {
  display: inline-block;
  width:100%;
}

.name {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
}

.circular.ui.button.tiny.secondary.icon {
  width: 16px;
  height: 16px;
  padding: 0;
  position: absolute;
  right: 35px;
}

.status {
  color: #92959e;
}

.new-messages {
  color: white;
  background-color: red;
  width: 20px;
  border-radius: 5px;
  text-align: center;
}
</style>
