<template>
  <div id="app">
    <select-username
      v-if="!usernameAlreadySelected"
      @input="onUsernameSelection"
    />
    <chat 
      :showcomponents="usernameAlreadySelected"
      :hidecomponents="!usernameAlreadySelected"
    />
  </div>
</template>

<script>
import SelectUsername from "./components/SelectUsername";
import Chat from "./components/Chat";
import socket from "./socket";

export default {
  name: "App",
  components: {
    Chat,
    SelectUsername,
  },
  data() {
    return {
      usernameAlreadySelected: false,
    };
  },
  methods: {
    onUsernameSelection(username, password) {
      socket.auth = { username, password };
      socket.connect();
    },
  },
  created() {
    // 기존 세션ID 확인 후 연결
    const sessionID = localStorage.getItem("sessionID");
    if (sessionID) {
      this.usernameAlreadySelected = true;
      socket.auth = { sessionID };
      socket.connect();
    }

    // 연결 후 세션/유저ID 사용
    socket.on("session", ({ sessionID, userID }) => {
      socket.auth = { sessionID };
      localStorage.setItem("sessionID", sessionID);
      socket.userID = userID;

      this.usernameAlreadySelected = true;
    });

    // 연결 중 에러 처리
    socket.on("connect_error", (err) => {
      localStorage.removeItem("sessionID");

      switch (err.message) {
        case "invalid username":
          this.usernameAlreadySelected = false;
          break;
        case "already exists username":
          alert("Already exists unsername");
          break;
        case "not allow spacebar":
          alert("Not allow spacebar");
          break;
        case "password failed":
          alert("password failed");
          break;
      }
    });

    // 유저 삭제
    socket.on("user removed", (index, sessionID) => {
      if (localStorage.getItem("sessionID") === sessionID) {
        localStorage.removeItem("sessionID");
        this.usernameAlreadySelected = false;
      }
    });
  },
  destroyed() {
    socket.off("connect_error");
    socket.off("exists username");
    socket.off("user removed");
  },
};
</script>

<style>
@font-face {
  font-family: Lato;
  src: url("/fonts/Lato-Regular.ttf");
}

#app {
  font-family: Lato, Arial, sans-serif;
  font-size: 1.3rem;
}

#app div[showcomponents="true"] {
  display: block;
}

#app div[hidecomponents="true"] {
  display: none;
}
</style>

